@import url("../../App.css");

/* ========= Base (desktop) ========= */
header {
    background-color: var(--accentColor);
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    /* so .center can be absolutely positioned */
}

header nav {
    display: flex;
    align-items: center;
}

/* LEFT */
.left {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.left a {
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.left>a:first-child {
    margin-left: 0;
    background-color: transparent;
}

.left #home-link {
    display: none;
}

/* Logo + icons */
.nav-logo {
    vertical-align: middle;
    width: 250px;
    height: 70px;
    object-fit: cover;
}

.nav-icons {
    vertical-align: middle;
}

.nav-icons:hover,
.searchButton:hover {
    filter: saturate(300%) brightness(80%);
}

/* CENTER */
.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center form {
    display: flex;
}

.center input {
    margin-right: 0.2rem;
}

.searchBar {
    width: 100%;
    border: 3px solid var(--outlineColor);
    border-radius: 25px;
    font-size: 15pt;
    padding: 10px;
    outline: none;
}

.searchButton {
    border-radius: 25px;
    border: 3px solid var(--outlineColor);
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
}

/* RIGHT */
.right {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.right button {
    padding: .5rem;
    border: 1px solid var(--outlineColor, #ccc);
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

@media (max-width: 1024px) {

    header {
        padding: 1rem .2rem;
    }

   .right button {
        font-size: 10pt;
    }

    .left #home-link {
        display: block;
    }

    .left a {
        padding: 8px 8px;
    }

    .nav-icons {
        width: 1.5rem;
    }

    .center {
        padding: 5%;
    }

    .searchBar {
        font-size: 10pt;
    }

    /* Hide extras by default on small screens */
    .left>a:first-child {
        display: none;
    }
}