/* Color Variables */

:root {
  --accentColor: #0d9488;
  --outlineColor: #2dd4bf;
  --backgroundColor: #111827;
  --textColor: #f9fafb;
  --background-svg: url('assets/flowchart_home_background_cyan.svg');
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: Sans-Serif;
  padding: 0;
}

a, a:visited {
  color: var(--textColor);
}

html, body, #root {
  /* height: 100dvh; */
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  /* min-height: 100dvh; */
}

.layout {
  min-height: 100dvh;           /* fill the viewport */
  display: flex;
  flex-direction: column;
}