/* Color Variables */

:root {
  --accentColor: #0d9488;
  --outlineColor: #2dd4bf;
  --backgroundColor: #111827;
  --textColor: #f9fafb;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: Sans-Serif;
  padding: 0;
}

a, a:visited {
  color: var(--textColor);
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
}